<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postal Rates Dispaly</title>
</head>
<body>
    <h1>Postal Rate</h1>
    <div>
        <p>The postal rate for a <%= package %> package at a weight of <%= weight %> ounces is $<%= cost %>.</p>
    </div>
</body>
</html>